openapi: 3.0.0
info:
  title: Social Networks News Project API
  description: API Definition for the Social Networks News Project
  version: 0.0.0
  contact:
    name: API Support
    email: freifunknews@nordgedanken.blog
  license:
    name: GPL-3.0
    url: https://github.com/SocialNetworkNews/SocialNetworkNews_API/raw/master/LICENSE

servers:
  - url: https://socialnetworksnews.nordgedanken.blog/api
  - url: https://freifunknews.nordgedanken.blog/api

tags:
  - name: "paper"
    description: "Everything that is used for papers"
  - name: "user"
    description: "Get user Data"

paths:
  /papers:
    get:
      tags:
        - paper
      summary: Get a List of all available Papers
      responses:
        '200':    # status code
          description: A JSON array containing a short info about available Papers
          headers:
            API-VERSION:
              schema:
                type: string
                default: 0.0.0
              description: Current API Version.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    name:
                      type: "string"
                    uuid:
                      type: "string"
    post:
      tags:
        - paper
      summary: Add a new Paper
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  author:
                    type: object
                    properties:
                      uuid:
                        type: string
      responses:
        '200':    # status code
          description: A JSON array containing a short info about the just added Papers (might be different ordered)
          headers:
            API-VERSION:
              schema:
                type: string
                default: 0.0.0
              description: Current API Version.
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    name:
                      type: "string"
                    uuid:
                      type: "string"
  /paper/{uuid}:
    get:
      tags:
        - paper
      summary: Get more details about the Paper
      parameters:
        - name: uuid
          in: path
          description: UUID of the paper
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':    # status code
          description: A JSON array containing a short info about available Papers
          headers:
            API-VERSION:
              schema:
                type: string
                default: 0.0.0
              description: Current API Version.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  uuid:
                    type: string
                  description:
                    type: string
                  author:
                    type: object
                    properties:
                      uuid:
                        type: string
                      username:
                        type: string
                      profile_image_url:
                        type: string
                      twitter_profile:
                        type: string
                      google_profile:
                        type: string
                      github_profile:
                        type: string
  /paper/{uuid}/yesterday:
    get:
      tags:
        - paper
      summary: Get the Data that should get displayed of yesterday
      parameters:
        - name: uuid
          in: path
          description: UUID of the paper
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':    # status code
          description: A JSON array of Posts (currently Tweets)
          headers:
            API-VERSION:
              schema:
                type: string
                default: 0.0.0
              description: Current API Version.
          content:
            application/json:
              schema: 
                type: array
                items: 
                  properties:
                    username:
                      type: string
                    user_id:
                      type: string
                    display_name:
                      type: string
                    userprofile_link:
                      type: string
                    text:
                      type: string
                    image_urls:
                      type: array
                      items:
                        type: string
                    created_at:
                      type: string
                    favorites:
                      type: string
                    retweets:
                      type: string
                    retweet:
                      type: boolean
                      default: false