swagger: "2.0"
info:
  description: "API Definition for the Social Networks News Project"
  version: "0.0.0"
  title: "Social Networks News Project API"
  termsOfService: "TODO"
  contact:
    email: "freifunknews@nordgedanken.blog"
  license:
    name: "GPL-3.0"
    url: "https://github.com/SocialNetworkNews/SocialNetworkNews_API/raw/master/LICENSE"
host: "socialnetworksnews.nordgedanken.blog"
basePath: "/api"
tags:
- name: "paper"
  description: "Everything that is used for papers"
- name: "user"
  description: "Get user Data"
schemes:
- "https"
paths:
  /paper/{uuid}/yesterday:
    get:
      tags:
      - "paper"
      parameters:
      - name: "uuid"
        in: "path"
        description: "UUID of the paper"
        required: true
        type: "integer"
        format: "int64"
      summary: "Get the Data that should get displayed of yesterday"
      description: ""
      operationId: "getYesterday"
      produces:
      - "application/json"
      responses:
        200:
            description: OK
            schema:
              $ref: '#/definitions/PaperData'
definitions:
  PaperData:
    type: "array"
    items:
      properties:
        username:
          type: "string"
        user_id:
          type: "string"
        display_name:
          type: "string"
        userprofile_link:
          type: "string"
        text:
          type: "string"
        image_urls:
          type: "array"
          items:
            type: "string"
        created_at:
          type: "string"
        favorites:
          type: "string"
        retweets:
          type: "string"
        retweet:
          type: "boolean"
          default: false